.vscode
.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
bin/
buildout-cache/
develop-eggs/
eggs/
etc/
htmlcov/
include/
lib/
lib64/
local/
parts/
share/
src/*
var/
# files
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
inituser
pip-wheel-metadata
pyvenv.cfg
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!src/kitconcept
